*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  display:flex;
  justify-content: center;
  place-items: center;
  align-items: center;
}

.p1{
  padding: 1.2rem;
}

.nav{
  background-color: #F55A5A;
  color: #fff;
}

.d-flex{
  display: flex;
}

.icn{
  height: 1.7rem;
}

.title{
  font-size: 1rem;
  margin-left: .2rem;
  padding-bottom: .2rem;
}

.border-radius{
  border-radius: 5px;
}

.card{
  display: flex;
  flex-wrap: wrap;
}